{% extends "layout.html" %}
{% block title %}Cursus{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    .tree-diagram {
      position: relative;
    }
    .tree-diagram ul {
        display: flex;
        position: relative;

        /* Reset */
        list-style-type: none;
        margin: 0;
        padding: 1rem 0.5rem 0rem 0.5rem;
    }

    .tree-diagram ul ul::before {
        border-right: 2px solid rgba(0, 0, 0, 0.3);
        content: '';

        /* Position */
        position: absolute;
        top: 0;
        right: 50%;

        /* Size */
        height: 1rem;
        width: 50%;
    }

    .tree-diagram li {
        padding: 1rem 0.5rem 0rem 0.5rem;
        position: relative;

        /* Center the content */
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .tree-diagram li::before {
        border-right: 2px solid rgba(0, 0, 0, 0.3);
        border-top: 2px solid rgba(0, 0, 0, 0.3);
        content: '';

        /* Position */
        position: absolute;
        top: 0;
        right: 50%;

        /* Size */
        height: 1rem;
        width: 50%;
    }

    .tree-diagram li::after {
        border-top: 2px solid rgba(0, 0, 0, 0.3);
        content: '';

        /* Position */
        position: absolute;
        top: 0;
        right: 0;

        /* Size */
        width: 50%;
    }

    .tree-diagram li:first-child::before,
    .tree-diagram li:last-child::after {
        /* Remove the top of border from the first and last items */
        border-top: none;
    }

    /* Add a root item if you want */
    li.tree-diagram__root::before {
        border-right: none;
    }
    .course-done{
      color: green;
      text-decoration: none!important;
    }
    .course-done:hover{
      color: green!important;
    }
    .course-to-redo{
      color: orange;
    }
  </style>
{% endblock %}
{% block content %}
    <h1>Cursus</h1>
    <div class="tree-diagram mb-5">
      <ul>

          <li>
            <i class="fa-solid fa-flask course-to-redo"></i>
            <span class="course-to-redo"><a href="/course/chem1" class="course-to-redo">Chemistry</a></span>
              <ul>
                  <li><i class="fa-solid fa-flask"></i>
                      Sub 1
                      <ul>
                          <li><i class="fa-solid fa-flask"></i>SubSub1</li>
                          <li><i class="fa-solid fa-flask"></i>SubSub2</li>
                      </ul>
                  </li>
                  <li><i class="fa-solid fa-flask"></i>Sub2</li>
              </ul>
          </li>
          <li>
            <i class="fa-solid fa-atom course-done"></i> <a href="/course/phy1" class="course-done">Physics 1</a>
              <ul>
                  <li>
                    <i class="fa-solid fa-atom course-done"></i> <a href="/course/phy2" class="course-done">Physics 2</a>
                      <ul>
                          <li><i class="fa-solid fa-atom"></i> Physics 3
                            <ul>
                              <li><i class="fa-solid fa-atom"></i> Spe1</li>
                              <li><i class="fa-solid fa-atom"></i> Spe2
                                <ul>
                                  <li><i class="fa-solid fa-atom"></i> Spe2.1</li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>

          <li><i class='fas fa-square-root-alt course-done'></i>
            <a href="/course/ma1" class="course-done">Math</a>
              <ul>
                  <li><i class='fas fa-square-root-alt'></i>
                      Sub 1
                      <ul>
                          <li><i class='fas fa-square-root-alt'></i>SubSub1</li>
                          <li><i class='fas fa-square-root-alt'></i>SubSub2</li>
                      </ul>
                  </li>
                  <li><i class='fas fa-square-root-alt'></i>Sub2</li>
              </ul>
          </li>

          <li>
            <i class="fa-solid fa-code"></i>
            Programming
              <ul>
                  <li><i class="fa-solid fa-code"></i>
                      Sub 1
                      <ul>
                          <li><i class="fa-solid fa-code"></i>SubSub1</li>
                          <li><i class="fa-solid fa-code"></i>SubSub2</li>
                      </ul>
                  </li>
                  <li><i class="fa-solid fa-code"></i>Sub2</li>
              </ul>
          </li>
          
      </ul>
  </div>
{% endblock %}
