{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
  .stars-hover:hover {
    color: yellow !important;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <section class="feed" style="margin-top: 25px">
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-4">
        <a href="" class="btn btn-success"
          ><i class="fa-solid fa-plus"></i> Add a feed</a
        >
        <a href="" class="btn btn-primary"
          ><i class="fa-solid fa-timer"></i> Schedule a feed</a
        >
      </div>
    </div>

    <div class="row">
      <div
        class="col-lg-8"
        style="margin: 25px auto; border: 1px solid #0984e3"
      >
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <img
                src="https://1.bp.blogspot.com/-pQYVIZO82aM/YQuce7ri7eI/AAAAAAAADak/6KIPHe0cIi4VNXcNL8P26vwNrF_Jlw2KgCNcBGAsYHQ/s320/undraw_profile_pic.png"
                style="border-radius: 50%; max-width: 150px"
              />
            </div>
            <div class="row">
              <p style="margin: 15px 25px;">Professeur Goutteau</p>
            </div>
            <div class="row" style="margin: 5px auto">
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row" style="margin: 25px auto; padding: 5px 15px">
              <p>Bonjour à tous, dans le cadre du concours d'électromécanique j'organise un cours de révisions qui auras pour but de revoir: les branchement moteur, les calcules de défauts et la recherche de panne? le cours serat autant pratique que théorique je prévois de le faire le: 4 Avril 2022 de 10h à 18h</p>
            </div>
            <div class="row" style="padding: 15px 25px">
              <a href="#" class="btn btn-primary" style="margin-right: 25px"
                ><i class="fa-solid fa-plus"></i> Read more</a
              >
              <a href="#" class="btn btn-warning" style="margin-right: 25px"
                ><i class="fa-solid fa-star"></i> comment</a
              >
              <a href="#" class="btn btn-info" style="margin-right: 25px;"><i class="fa-solid fa-question"></i> Poser votre question!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-lg-8"
        style="margin: 25px auto; border: 1px solid #0984e3"
      >
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <img
                src="https://1.bp.blogspot.com/-pQYVIZO82aM/YQuce7ri7eI/AAAAAAAADak/6KIPHe0cIi4VNXcNL8P26vwNrF_Jlw2KgCNcBGAsYHQ/s320/undraw_profile_pic.png"
                style="border-radius: 50%; max-width: 150px"
              />
            </div>
            <div class="row">
              <p style="margin: 15px 25px;">Anonyme</p>
            </div>
            <div class="row" style="margin: 5px auto">
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row" style="margin: 25px auto; padding: 5px 15px">
              <p>
                Révision du cours d'éléctricité:
                Loi d'ohm, tension et révisions sur les résistances de matériaux.

                L'examen approchant à grand pas, je vous invite a rejoindre un cours de révisions
              </p>
            </div>
            <div class="row" style="padding: 15px 25px">
              <a href="#" class="btn btn-primary" style="margin-right: 25px"
                ><i class="fa-solid fa-plus"></i> Read more</a
              >
              <a href="#" class="btn btn-warning" style="margin-right: 25px"
                ><i class="fa-solid fa-star"></i> comment</a
                >
              <a href="#" class="btn btn-info" style="margin-right: 25px;"><i class="fa-solid fa-question"></i> Poser votre question!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-lg-8"
        style="margin: 25px auto; border: 1px solid #0984e3"
      >
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <img
                src="https://1.bp.blogspot.com/-pQYVIZO82aM/YQuce7ri7eI/AAAAAAAADak/6KIPHe0cIi4VNXcNL8P26vwNrF_Jlw2KgCNcBGAsYHQ/s320/undraw_profile_pic.png"
                style="border-radius: 50%; max-width: 150px"
              />
            </div>
            <div class="row">
              <p style="margin: 15px 25px;">Anonyme</p>
            </div>
            <div class="row" style="margin: 5px auto">
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
              <i
                class="fa-solid fa-star"
                style="color: #fdcb6e"
                class="stars-hover"
              ></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row" style="margin: 25px auto; padding: 5px 15px">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                quam neque, voluptate dolores nostrum veniam totam cumque iure
                exercitationem assumenda. Consectetur eaque corporis nihil,
                maxime consequuntur ratione quibusdam mollitia aut! At iste
                recusandae id laudantium! At nihil iste ab repellendus dolore,
                veniam adipisci. Dolore earum nemo, ab cumque fuga, nostrum
                dicta numquam dignissimos excepturi vel blanditiis quis,
                sapiente enim praesentium. Illo itaque dicta officia tenetur qui
                deserunt culpa aut repellat delectus quod, enim quo. Quasi
                reiciendis fuga ratione voluptatum. Corporis molestiae aliquid
                magni enim incidunt eos eius repudiandae voluptatum et? Qui
                perferendis, minus commodi sit libero nobis voluptate soluta
                veniam, veritatis quo numquam vero? Quasi obcaecati odit, fugiat
                facere inventore modi nobis voluptates recusandae omnis ut
                nostrum, illo placeat mollitia! Tenetur est quasi modi, beatae
                atque aliquid non? Ex illo distinctio ad molestiae corrupti iste
                necessitatibus ullam unde dolor est similique alias, blanditiis
                voluptas dicta earum minima exercitationem architecto
                dignissimos?
              </p>
            </div>
            <div class="row" style="padding: 15px 25px">
              <a href="#" class="btn btn-primary" style="margin-right: 25px"
                ><i class="fa-solid fa-plus"></i> Read more</a
              >
              <a href="#" class="btn btn-warning" style="margin-right: 25px"
                ><i class="fa-solid fa-star"></i> comment</a
              >
              <a href="#" class="btn btn-info" style="margin-right: 25px;"><i class="fa-solid fa-question"></i> Poser votre question!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
