<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} - School 2.0</title>
    {% endblock %}
</head>
<body>
    <!-- Heading -> Nav bar ? -->
    {% block navbar %}
    {% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <span class="mr-4"><h2>School 2.0</h2></span>
        <span>
            <a href="https://www.w3schools.com/">
                <button class="btn btn btn-outline-secondary" type="button">
                    Calendar
                </button>
            </a>
            <a href="https://www.w3schools.com/">
                <button class="btn btn btn-outline-secondary" type="button">
                    Branches
                </button>
            </a>
            <a href="https://www.w3schools.com/">
                <button class="btn btn btn-outline-secondary" type="button">
                    CoursFlix
                </button>
            </a>
        </span>
    </form>
</nav>
{% endblock %}

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2010 by <a href="/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
