{% extends "layout.html" %} {% block title %} {{event.title}} {% endblock %} {%
block head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
  #calendar {
    max-height: 80vh;
    margin: 20px 0 50px 0;
  }
</style>
<style>
  .row-event {
    margin: 50px auto;
  }

  .event-title {
    border: 1px solid #ccc;
    border-radius: 5px;
    decoration: underline;
  }

  .event-title:hover h1 {
    color: #3498db;
    cursor: pointer;
  }

  .btn-event {
    min-width: 60px;
    padding: 10px 25px;
    border-radius: 5px;
  }

  .table {
    margin-bottom: 150px;
  }

  .table-row-teacher td {
    background-color: #6c5ce7;
    color: white;
  }

  .table-row-teacher td a {
    color: white;
    decoration: none;
  }
  .hidden {
    display: none !important;
  }
</style>
{% endblock %} {% block content %}
<section>
  <div class="container">
    <div class="row row-event event-header">
      <div class="col-md-6 event-title">
        <h1>{{event.title}}</h1>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 event-date">Debut: {{event.start}}</div>
        </div>
        <div class="row">
          <div class="col-md-12 event-date">Fin: {{event.end}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <form class="form hidden" action="/calender/event/update" method="post">
          <div class="row">
            <div class="col-md-3">
              <fieldset>
                <label for="">Title</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Event's title"
                  name="title"
                  id="title"
                />
              </fieldset>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <label for="">Date Start</label>
                    <input
                    type="datetime-local"
                    name="date-start"
                    class="form-control"
                    placeholder="Event Date Start'"
                    />
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <label for="">Date stop</label>
                    <input
                    type="datetime-local"
                    name="date-stop"
                    class="form-control"
                    placeholder="Event Date Start'"
                    />
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <label for="">Description</label>
                <textarea name="description" rows="12" class="form-control" placeholder="Description"></textarea>
              </fieldset>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <a href="#" id="submitter" class="btn btn-event btn-primary">Update</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row row-event">
      <div class="col-md-3 event-icon">
        <i class="fa-solid fa-{{event.title[0]|lower}} fa-10x"></i>
      </div>
      <div class="col-md-6 event-description">
        <div class="row">
          <div class="col-md-12">{{event.description}}</div>
        </div>
      </div>
    </div>
    <div class="row row-event">
      <div class="col-md-6">
        <a href="#" class="btn-event btn-success">Rejoindre</a>
        <a href="#" class="btn-event btn-warning" id="updater">Update</a>
        <a href="#" class="btn-event btn-danger">Quitter</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>List person in the event</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="thead-dark">
            <th>Type</th>
            <th>Nom Complet</th>
            <th>Adresse email</th>
          </thead>
          <tbody>
            {% for person in persons %} {% if person.person_type == "teacher" %}
            <tr class="table-row-teacher">
              {%else %}
            </tr>

            <tr>
              {%endif %}
              <td>{{person.person_type}}</td>
              <td>{{person.firstname}} {{person.lastname}}</td>
              <td><a href="mailto:{{person.email}}">{{person.email}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<script>
  document.getElementById("updater").addEventListener("click", function () {
    $("form").toggleClass("hidden");
  });
</script>
{% endblock %}
